{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>MyTube</h1>
<a class="btn btn-primary" href="{{ url_for('mytube_blueprint.download_creator_playlist') }}" role="button" aria-disabled="true">Get info</a>
<a class="btn btn-secondary disabled" role="button" aria-disabled="true">Link</a>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
    const baseUrl = "{{ url_for('static', filename='') }}";
</script>



{% endblock javascripts %}

