{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>MyTube</h1>
<div class="container">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
      <a class="btn btn-primary" href="{{ url_for('mytube_blueprint.download_creator_playlist') }}" role="button">Get info</a>
      <a class="btn btn-secondary disabled" href="#" role="button">Disabled</a>
    </div>
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn btn-info " href="{{ url_for('mytube_blueprint.download_movies') }}" role="button">Download movies</a>
      <a class="btn btn-secondary" href="{{ url_for('mytube_blueprint.download_cancel') }}" role="button">Stop download</a>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn btn-primary" href="{{ url_for('mytube_blueprint.create_playlist') }}" role="button">Create new playlist</a>
      <a class="btn btn-secondary disabled" role="button">Link</a>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
    const baseUrl = "{{ url_for('static', filename='') }}";
</script>



{% endblock javascripts %}

