{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{{ url_for('static', filename='assets/css/modal-window.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<body>
<div class="container mt-5">
    <!-- NEW Filter and Sort  -->
    <div class="container">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
            <!--      FILTER WATCHED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='watched', atrib=header.fWatched) }}" role="button">
                {% if header.fWatched == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">disabled_visible</i>
                {% elif header.fWatched == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">visibility</i>
                {% elif header.fWatched == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">visibility_off</i>
                {% endif %}
            </a>

            <!--      FILTER TO DOWNLOAD      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='to_download', atrib=header.fToDownload) }}" role="button">
                {% if header.fToDownload == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">downloading</i>
                {% elif header.fToDownload == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">download_for_offline</i>
                {% elif header.fToDownload == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">download</i>
                {% endif %}
            </a>

            <!--      FILTER DOWNLOADED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='downloaded', atrib=header.fDownloaded) }}" role="button">
                {% if header.fDownloaded == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">file_download_done</i>
                {% elif header.fDownloaded == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">file_download_done</i>
                {% elif header.fDownloaded == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">file_download_done</i>
                {% endif %}
            </a>

            <button class="btn btn-warning dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ header.sorted }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='released-desc') }}" >Date of release (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='released-asc') }}" >Date of release (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='created-desc') }}" >Date of adding to myTube (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='created-asc') }}" >Date of adding to myTube (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='visited-desc') }}" >Last visit (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='visited-asc') }}" >Last visit (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='duration-desc') }}" >Duration (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='sorted', atrib='duration-asc') }}" >Duration (acsending)</a></li>
            </ul>
            <button class="btn btn-info dropdown-toggle" type="button" id="limitDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ header.limit }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="limitDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='limit', atrib='100') }}" >100</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='limit', atrib='200') }}" >200</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=header.source, obiekt='limit', atrib='500') }}" >500</a></li>
            </ul>

        </div>

      </div>
    </div>

    <!-- Your videos container -->
    <h1 class="text-center">{{ header.title }} ({{ videos_count }})</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4" id="videos-container">
        {% include 'mytube/load_more.html' %}
    </div>

    {% if videos_count | int > header.limit | int %}
        <!-- Your existing "Load More" button -->
        <button class="btn btn-secondary" id="load-more-button">Load More</button>
    {% endif %}
</div>

<!-- Tags Modal -->
<div id="tagsModal" class="modal card">
    <span class="close" onclick="closeTagsModal()">&times;</span>
    <div class="card-header">
        <h3 class="card-title">Select Tags</h3>
    </div>
    <div class="card-body modal-content">
        {% set grouped_tags = tags | rejectattr('group', 'equalto', None) | groupby('group') %}
        {% for group, group_tags in grouped_tags %}
            <div class="group">
                <p>{{ group }}</p>
                {% for tag in group_tags %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="selectedTags" value="{{ tag.uuid }}">
                        <label class="form-check-label">{{ tag.name }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <button id="addTagsButton" class="btn btn-primary add-tags-button" onclick="addTags(event)">Add Tags</button>
    </div>
</div>

<!-- The Tags Overlay -->
<div id="tags-overlay" class="overlay" onclick="closeTagsModal()"></div>


<!-- Playlists Modal -->
<div id="playlistsModal" class="modal card">
    <span class="close" onclick="closePlaylistsModal()">&times;</span>
    <div class="card-header">
        <h3 class="card-title">Select Playlist</h3>
    </div>
    <div class="card-body modal-content">
        {% for playlist in playlists %}
            <div class="group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="selectedPlaylists" value="{{ playlist.uuid }}">
                    <label class="form-check-label">{{ playlist.name }}</label>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <button id="addPlaylistsButton" class="btn btn-primary add-tags-button" onclick="addTags(event)">Add Playlists</button>
    </div>
</div>

<!-- The Playlists Overlay -->
<div id="playlists-overlay" class="overlay" onclick="closePlaylistModal()"></div>


</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
    const baseUrl = "{{ url_for('static', filename='') }}";
    const url_for_video = "{{ url_for('mytube_blueprint.video', video_uuid='') }}";
    const url_for_videos = "{{ url_for('mytube_blueprint.videos', playlist_uuid='') }}";
</script>

<!-- Toggle status of Watched and To_Download-->
<script>
    function toggleStatus(element) {
        const videoId = element.parentElement.dataset.videoId;
        const statusType = element.parentElement.dataset.statusType;

        // Make an asynchronous request to update the status
        fetch('{{ url_for('mytube_blueprint.update_status') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&status_type=${statusType}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the image source based on the new status
                if (statusType == 'watched') {
                    const iconName = data.new_status ? 'visibility' : 'visibility_off';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'deleted') {
                    const iconName = data.new_status ? 'delete' : 'delete_forever';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:red;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'to_download') {
                    const iconName = data.new_status ? 'download_for_offline' : 'download';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }

            } else {
                console.error('Failed to update status.');
            }
        })
        .catch(error => {
            console.error('Error updating status:', error);
        });
    }
</script>

<!-- Add video to the playlist -->
<script>
    function addToPlaylist(videoId, playlistId, playlistName) {
        event.preventDefault();  // Prevent the default behavior of the anchor element
        // Make an asynchronous request to update the playlist
        fetch('{{ url_for('mytube_blueprint.add_to_playlist') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&playlist_id=${playlistId}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                var buttonName = "playlistDropdown"+videoId;
                var playlistButton = document.getElementById(buttonName);
                playlistButton.textContent = playlistName;
                // alert('Video added to playlist successfully!');
            } else {
                alert('Failed to add video to playlist.');
            }
        })
        .catch(error => {
            console.error('Error adding video to playlist:', error);
        });
    }
</script>


<!-- Add this script at the end of your HTML file, after including jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<!-- Tags Modal -->
<script>
async function openTagsModal(videoUUID) {
    try {
        const response = await fetch(`{{ url_for('mytube_blueprint.get_selected_tags') }}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ video_uuid: videoUUID }),
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        tagsSelectedStr = data.tags
        document.getElementById('tagsModal').style.display = 'block';
        document.getElementById('tags-overlay').style.display = 'block';

        // Update the onclick attribute
        var addTagsButton = document.getElementById('addTagsButton');
        addTagsButton.onclick = function(event) {
            addTags(event, videoUUID);
        };

        // Check checkboxes based on tags_selected
        var checkboxes = document.getElementsByName('selectedTags');
        checkboxes.forEach(function (checkbox) {
            // clear checkbox
            checkbox.checked = false;
            // select if has tag
            if (tagsSelectedStr.includes(checkbox.value)) {
                checkbox.checked = true;
            }
        });
    } catch (error) {
        console.error('Error:', error);
    }
}



    function closeTagsModal() {
        document.getElementById('tagsModal').style.display = 'none';
        document.getElementById('tags-overlay').style.display = 'none';
    }

    async function addTags(event, videoUUID) {
        event.stopPropagation(); // Prevents the click event from reaching the overlay

        var selectedTags = [];
        var checkboxes = document.getElementsByName('selectedTags');
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                selectedTags.push(checkbox.value);
            }
        });

        // Handle the selected tags (you can send them to the server using fetch)
        console.log('Selected Tags:', selectedTags);

        // Send data to Flask route using fetch
        try {
            const response = await fetch(`{{ url_for('mytube_blueprint.tag_video') }}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ tags: selectedTags,
                                       video_uuid: videoUUID }),
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            console.log('Response from server:', data);
        } catch (error) {
            console.error('Error:', error);
        }

        // Close the modal
        closeTagsModal();
    }
</script>


<!-- Playlists Modal -->
<script>
async function openPlaylistsModal(videoUUID) {
    try {
        const response = await fetch(`{{ url_for('mytube_blueprint.get_selected_playlists') }}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ video_uuid: videoUUID }),
        });

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        playlistsSelectedStr = data.playlists
        document.getElementById('playlistsModal').style.display = 'block';
        document.getElementById('playlists-overlay').style.display = 'block';

        // Update the onclick attribute
        var addPlaylistsButton = document.getElementById('addPlaylistsButton');
        addPlaylistsButton.onclick = function(event) {
            addPlaylists(event, videoUUID);
        };

        // Check checkboxes based on tags_selected
        var checkboxes = document.getElementsByName('selectedPlaylists');
        checkboxes.forEach(function (checkbox) {
            // clear checkbox
            checkbox.checked = false;
            // select if has playlist
            if (playlistsSelectedStr.includes(checkbox.value)) {
                checkbox.checked = true;
            }
        });
    } catch (error) {
        console.error('Error:', error);
    }
}



    function closePlaylistsModal() {
        document.getElementById('playlistsModal').style.display = 'none';
        document.getElementById('playlists-overlay').style.display = 'none';
    }

    async function addPlaylists(event, videoUUID) {
        event.stopPropagation(); // Prevents the click event from reaching the overlay

        var selectedPlaylists = [];
        var checkboxes = document.getElementsByName('selectedPlaylists');
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                selectedPlaylists.push(checkbox.value);
            }
        });

        // Handle the selected tags (you can send them to the server using fetch)
        console.log('Selected Playlists:', selectedPlaylists);

        // Send data to Flask route using fetch
        try {
            const response = await fetch(`{{ url_for('mytube_blueprint.playlist_video') }}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ playlists: selectedPlaylists,
                                       video_uuid: videoUUID }),
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            console.log('Response from server:', data);
        } catch (error) {
            console.error('Error:', error);
        }

        // Close the modal
        closePlaylistsModal();
    }
</script>


<!--  Load More Videos-->
<script>
    document.getElementById('load-more-button').addEventListener('click', function() {
        // Get a reference to the "Load More" button
        var loadMoreBtn = document.getElementById('load-more-button');
        // Check videos limit
        var max_videos = Number({{ videos_count }});
        var limit_videos = Number({{ header.limit }});
        var currentEndIndex = $('#videos-container').children().length;
        var nextEndIndex = currentEndIndex + limit_videos;

        // Make an AJAX request to fetch more content
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('mytube_blueprint.load_more', limit=header.limit, source=header.source) }}', true);

        xhr.onload = function() {
            if (xhr.status == 200) {
                // Append the received content to the existing content container
                document.getElementById('videos-container').innerHTML += xhr.responseText;
                // Remove button if no more videos
                if (max_videos >= nextEndIndex) {
                    loadMoreBtn.style.display = 'block';
                } else {
                    loadMoreBtn.style.display = 'none'; // Hide the button
                }
            }
        };

        xhr.send();
    });
</script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


{% endblock javascripts %}
