{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        /* Style for the modal */
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            z-index: 1;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        /* Style for the overlay */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        /* Style for the close button */
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<body>
<div class="container mt-5">
    <!-- NEW Filter and Sort  -->
    <div class="container">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
            <!--      FILTER WATCHED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='watched', atrib=data.config.fWatched) }}" role="button">
                {% if data.config.fWatched == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">disabled_visible</i>
                {% elif data.config.fWatched == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">visibility</i>
                {% elif data.config.fWatched == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">visibility_off</i>
                {% endif %}
            </a>

            <!--      FILTER TO DOWNLOAD      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='to_download', atrib=data.config.fToDownload) }}" role="button">
                {% if data.config.fToDownload == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">downloading</i>
                {% elif data.config.fToDownload == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">download_for_offline</i>
                {% elif data.config.fToDownload == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">download</i>
                {% endif %}
            </a>

            <!--      FILTER DOWNLOADED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='downloaded', atrib=data.config.fDownloaded) }}" role="button">
                {% if data.config.fDownloaded == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">file_download_done</i>
                {% elif data.config.fDownloaded == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">file_download_done</i>
                {% elif data.config.fDownloaded == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">file_download_done</i>
                {% endif %}
            </a>

            <button class="btn btn-warning dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ data.config.sorted }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='released-desc') }}" >Date of release (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='released-asc') }}" >Date of release (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='created-desc') }}" >Date of adding to myTube (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='created-asc') }}" >Date of adding to myTube (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='visited-desc') }}" >Last visit (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='visited-asc') }}" >Last visit (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='duration-desc') }}" >Duration (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='duration-asc') }}" >Duration (acsending)</a></li>
            </ul>
            <button class="btn btn-info dropdown-toggle" type="button" id="limitDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ data.config.limit }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="limitDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='100') }}" >100</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='200') }}" >200</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='500') }}" >500</a></li>
            </ul>

        </div>

      </div>
    </div>

    <!-- Your videos container -->
    <h1 class="text-center">{{ data.config.title }} ({{ data.config.count }})</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="videos-container">
        <!-- Initial rendering of the first 100 videos will be here -->
    </div>
    {% if data.config.count | int > data.config.limit | int %}
        <!-- Your existing "Load More" button -->
        <button class="btn btn-secondary" id="load-more-btn">Load More</button>
    {% endif %}
</div>

</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
    const baseUrl = "{{ url_for('static', filename='') }}";
    const url_for_video = "{{ url_for('mytube_blueprint.video', video_uuid='') }}";
    const url_for_videos = "{{ url_for('mytube_blueprint.videos', playlist_uuid='') }}";
</script>

<!-- Toggle status of Watched and To_Download-->
<script>
    function toggleStatus(element) {
        const videoId = element.parentElement.dataset.videoId;
        const statusType = element.parentElement.dataset.statusType;

        // Make an asynchronous request to update the status
        fetch('{{ url_for('mytube_blueprint.update_status') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&status_type=${statusType}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the image source based on the new status
                if (statusType == 'watched') {
                    const iconName = data.new_status ? 'visibility' : 'visibility_off';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'deleted') {
                    const iconName = data.new_status ? 'delete' : 'delete_forever';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:red;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'to_download') {
                    const iconName = data.new_status ? 'download_for_offline' : 'download';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }

            } else {
                console.error('Failed to update status.');
            }
        })
        .catch(error => {
            console.error('Error updating status:', error);
        });
    }
</script>

<!-- Add video to the playlist -->
<script>
    function addToPlaylist(videoId, playlistId, playlistName) {
        event.preventDefault();  // Prevent the default behavior of the anchor element
        // Make an asynchronous request to update the playlist
        fetch('{{ url_for('mytube_blueprint.add_to_playlist') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&playlist_id=${playlistId}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                var buttonName = "playlistDropdown"+videoId;
                var playlistButton = document.getElementById(buttonName);
                playlistButton.textContent = playlistName;
                // alert('Video added to playlist successfully!');
            } else {
                alert('Failed to add video to playlist.');
            }
        })
        .catch(error => {
            console.error('Error adding video to playlist:', error);
        });
    }
</script>










<!-- Add this script at the end of your HTML file, after including jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // Get a reference to the "Load More" button
    var loadMoreBtn = document.getElementById('load-more-btn');

    // Assuming you have all video data available in the 'allVideos' variable
    var allVideos = {{ data.videos | tojson | safe }};
    var limit_videos = Number({{ data.config.limit }});
    var max_videos = Number({{ data.config.count }});

    // Function to render videos
    function renderVideos(startIndex, endIndex) {
        var videosContainer = $('#videos-container');

        for (var i = startIndex; i < endIndex; i++) {
            var video = allVideos[i];
            var watched = '<i class="material-icons opacity-10" onclick="toggleStatus(this, \'watched\')" style="font-size:32px; color:' +
                    (video.watched ? 'green' : '') + '">' +
                    'visibility' + (video.watched ? '' : '_off') +
                    '</i>';
            var deleted = '<i class="material-icons opacity-10" onclick="toggleStatus(this, \'deleted\')" style="font-size:32px; color:' +
                    (video.deleted ? 'red' : '') + '">' +
                    (video.deleted ? 'delete' : 'delete_forever') +
                    '</i>';
            var to_download = '<i class="material-icons opacity-10" onclick="toggleStatus(this, \'to_download\')" style="font-size:32px; color:' +
                    (video.to_download ? 'green' : '') + '">' +
                    (video.to_download ? 'download_for_offline' : 'download') +
                    '</i>';
            var file_exist = video.file_exist ?
                    '<span class="card-text"><i class="material-icons opacity-10" style="font-size:32px;color:green;">file_download_done</i></span>' :
                    '';
            // Append the video HTML to the container
            videosContainer.append(`
               <div class="col">
                    <div class="card h-100 bg-gradient-dark">
                        <div class="position-relative">
                            <!-- Video thumbnail -->
                            <a href=${url_for_video}${video.uuid}>
                                <img src="${video.thumbnail}" class="card-img-top" alt="Thumbnail">
                            </a>
                            <!-- Video duration -->
                            <p class="card-text duration-badge position-absolute bottom-0 end-0 m-2 bg-gradient-dark text-white rounded"><strong>&nbsp;${video.duration}&nbsp;</strong></p>
                        </div>
                        <div class="card-body">
                            <a href="${url_for_video}${video.uuid}">
                                <h6 class="card-title text-white">${video.title}</h6>
                            </a>

                            <p class="card-text">
                                <a href="${url_for_videos}channel?ch=${video.channel}">
                                    ${video.channel}
                                </a>
                                <span class="card-text">
                                    <a href="${video.url}" target="_blank">
                                        <i class="material-icons opacity-10  text-white" style="">open_in_new</i>
                                    </a>
                                </span>
                                <br>Release date: ${video.release_date}
                            </p>

                            <!-- Watched, Deleted and To Download status with icon -->
                            <span class="card-text" id="watched-status" data-video-id="${video.id}" data-status-type="watched">
                                ${watched}
                            </span>
                            <span class="card-text" id="deleted-status" data-video-id="${video.id}" data-status-type="deleted">
                                ${deleted}
                            </span>
                            <span class="card-text" id="download-status" data-video-id="${video.id}" data-status-type="to_download">
                                ${to_download}
                            </span>
                            ${file_exist}

                            <!-- Playlists Dropdown -->
                            <p>
                                <div class="dropdown float-end">
                                    ${video.playlistDropdownHtml}
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            `);
        }
    }

    // Initial rendering of the first 100 videos
    $(document).ready(function () {
        if (max_videos >= limit_videos) {
            renderVideos(0, limit_videos);
        } else {
            renderVideos(0, max_videos);
        }
    });

    // Function to load more videos
    function loadMoreVideos() {
        var currentEndIndex = $('#videos-container').children().length;
        var nextEndIndex = currentEndIndex + limit_videos;

        // Render the next set of videos
        if (max_videos >= nextEndIndex) {
            renderVideos(currentEndIndex, nextEndIndex);
            loadMoreBtn.style.display = 'block';
        } else {
            renderVideos(currentEndIndex, max_videos);
            loadMoreBtn.style.display = 'none'; // Hide the button
        }
    }

    // Attach the loadMoreVideos function to the "Load More" button click event
    $('#load-more-btn').click(function () {
        loadMoreVideos();
    });
</script>

{% endblock javascripts %}
