{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body>
<div class="container mt-5">
    <!-- NEW Filter and Sort  -->
    <div class="container">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm me-2" role="group" aria-label="First group">
            <!--      FILTER WATCHED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='watched', atrib=data.config.fWatched) }}" role="button">
                {% if data.config.fWatched == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">disabled_visible</i>
                {% elif data.config.fWatched == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">visibility</i>
                {% elif data.config.fWatched == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">visibility_off</i>
                {% endif %}
            </a>

            <!--      FILTER TO DOWNLOAD      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='to_download', atrib=data.config.fToDownload) }}" role="button">
                {% if data.config.fToDownload == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">downloading</i>
                {% elif data.config.fToDownload == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">download_for_offline</i>
                {% elif data.config.fToDownload == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">download</i>
                {% endif %}
            </a>

            <!--      FILTER DOWNLOADED      -->
            <a class="btn btn-outline-primary" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='downloaded', atrib=data.config.fDownloaded) }}" role="button">
                {% if data.config.fDownloaded == 'all' %}
                    <i class="material-icons" style="font-size:22px;color:blue;">file_download_done</i>
                {% elif data.config.fDownloaded == 'true' %}
                    <i class="material-icons" style="font-size:22px;color:green;">file_download_done</i>
                {% elif data.config.fDownloaded == 'false' %}
                    <i class="material-icons" style="font-size:22px;color:red;">file_download_done</i>
                {% endif %}
            </a>

            <button class="btn btn-warning dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ data.config.sorted }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='released-desc') }}" >Date of release (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='released-asc') }}" >Date of release (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='created-desc') }}" >Date of adding to myTube (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='created-asc') }}" >Date of adding to myTube (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='visited-desc') }}" >Last visit (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='visited-asc') }}" >Last visit (acsending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='duration-desc') }}" >Duration (descending)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='sorted', atrib='duration-asc') }}" >Duration (acsending)</a></li>
            </ul>
            <button class="btn btn-info dropdown-toggle" type="button" id="limitDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ data.config.limit }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="limitDropdown">
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='100') }}" >100</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='200') }}" >200</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='500') }}" >500</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mytube_blueprint.sort_filter', source=data.config.source, obiekt='limit', atrib='all') }}" >all</a></li>
            </ul>

        </div>

      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% include 'includes/video-cards.html' %}
    </div>
</div>

</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>

<script>
    const baseUrl = "{{ url_for('static', filename='') }}";
</script>

<!-- Toggle status of Watched and To_Download-->
<script>
    function toggleStatus(element) {
        const videoId = element.parentElement.dataset.videoId;
        const statusType = element.parentElement.dataset.statusType;

        // Make an asynchronous request to update the status
        fetch('{{ url_for('mytube_blueprint.update_status') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&status_type=${statusType}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the image source based on the new status
                if (statusType == 'watched') {
                    const iconName = data.new_status ? 'visibility' : 'visibility_off';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'deleted') {
                    const iconName = data.new_status ? 'delete' : 'delete_forever';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:red;' : 'font-size:32px;';
                    element.style = iconColor;
                    }
                else if (statusType == 'to_download') {
                    const iconName = data.new_status ? 'download_for_offline' : 'download';
                    element.textContent = iconName;
                    const iconColor = data.new_status ? 'font-size:32px;color:green;' : 'font-size:32px;';
                    element.style = iconColor;
                    }

            } else {
                console.error('Failed to update status.');
            }
        })
        .catch(error => {
            console.error('Error updating status:', error);
        });
    }
</script>

<!-- Filter and sort -->
<script>
<!--    function filterSort() {-->
<!--        var x_watched = '';-->
<!--        var x_to_download = '';-->
<!--        var x_file_exist = '';-->
<!--        var x_sort = '';-->
<!--        var x_deleted = '&trash='+{{ data.config.trash }};-->


<!--        // Wait 100ms to function properly-->
<!--        setTimeout(function(){-->
<!--            // Get all radio buttons in the Watched group-->
<!--            var radioButtons = document.getElementsByName("filter-watched");-->

<!--            // Loop through the radio buttons to find the checked one-->
<!--            for (var i = 0; i < radioButtons.length; i++) {-->
<!--                if (radioButtons[i].checked && radioButtons[i].id != 'fW') {-->
<!--                    x_watched = 'fw='+String(radioButtons[i].id).substring(2);-->
<!--                    break;  // Exit the loop since we found the checked radio button-->
<!--                }-->
<!--            }-->


<!--            // Get all radio buttons in the To Download group-->
<!--            var radioButtons = document.getElementsByName("filter-download");-->

<!--            // Loop through the radio buttons to find the checked one-->
<!--            for (var i = 0; i < radioButtons.length; i++) {-->
<!--                if (radioButtons[i].checked && radioButtons[i].id != 'fD') {-->
<!--                    x_to_download = '&fd='+String(radioButtons[i].id).substring(2);-->
<!--                    break;  // Exit the loop since we found the checked radio button-->
<!--                }-->
<!--            }-->


<!--            // Get all radio buttons in the File Exist group-->
<!--            var radioButtons = document.getElementsByName("filter-file-exist");-->

<!--            // Loop through the radio buttons to find the checked one-->
<!--            for (var i = 0; i < radioButtons.length; i++) {-->
<!--                if (radioButtons[i].checked && radioButtons[i].id != 'fF') {-->
<!--                    x_file_exist = '&ff='+String(radioButtons[i].id).substring(2);-->
<!--                    break;  // Exit the loop since we found the checked radio button-->
<!--                }-->
<!--            }-->



<!--            // Get all radio buttons in Sort group-->
<!--            var radioButtons = document.getElementsByName("sort");-->

<!--            // Loop through the radio buttons to find the checked one-->
<!--            for (var i = 0; i < radioButtons.length; i++) {-->
<!--                if (radioButtons[i].checked) {-->
<!--                    switch(radioButtons[i].id) {-->
<!--                        case 'sRA':-->
<!--                            x_sort = '&sort=-1';-->
<!--                            break;-->
<!--                        case 'sRD':-->
<!--                            x_sort = '&sort=-2';-->
<!--                            break;-->
<!--                        case 'sAA':-->
<!--                            x_sort = '&sort=0';-->
<!--                            break;-->
<!--                        case 'sAD':-->
<!--                            x_sort = '&sort=1';-->
<!--                            break;-->
<!--                        default:-->
<!--                            x_sort = '&sort=0';-->
<!--                        }-->
<!--                    break;  // Exit the loop since we found the checked radio button-->
<!--                }-->
<!--            }-->

<!--            // Set href for Button-->
<!--            var filterButton = document.getElementById("button-filter");-->
<!--            filterButton.href = '{{ url_for('mytube_blueprint.videos', playlist_uuid='all') }}'+'?'-->
<!--                                    +x_watched-->
<!--                                    +x_to_download-->
<!--                                    +x_file_exist-->
<!--                                    +x_sort-->
<!--                                    +x_deleted;-->
<!--        }, 100);-->
<!--    }-->
</script>

<!-- Add video to the playlist -->
<script>
    function addToPlaylist(videoId, playlistId, playlistName) {
        event.preventDefault();  // Prevent the default behavior of the anchor element
        // Make an asynchronous request to update the playlist
        fetch('{{ url_for('mytube_blueprint.add_to_playlist') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `video_id=${videoId}&playlist_id=${playlistId}`,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                var buttonName = "playlistDropdown"+videoId;
                var playlistButton = document.getElementById(buttonName);
                playlistButton.textContent = playlistName;
                // alert('Video added to playlist successfully!');
            } else {
                alert('Failed to add video to playlist.');
            }
        })
        .catch(error => {
            console.error('Error adding video to playlist:', error);
        });
    }
</script>

{% endblock javascripts %}
